.memory-game-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  height: 500px;
  overflow: scroll;
  background-image: url("../../assets/images/background_stadium.png");
  background-repeat: no-repeat;
  background-size: cover;

  .card {
    width: 18%;
    margin: 20px auto;
    background-color: rgba($color: navy, $alpha: 0.3);

    &:hover {
      background-color: rgba($color: lightblue, $alpha: 0.5);
    }
  }
}
